* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}/*
@font-face{
  font-family: "Poppins";
  src: url('/Poppins/Poppins/Poppins-Light.ttf') format('truetype'),
  url('/Poppins/Poppins/Poppins-Medium.ttf') format('truetype'),
  url('/Poppins/Poppins/Poppins-SemiBold.ttf') format('truetype');
}*/
#nav-conteiner {
  position: fixed;
  width: 100%;
  height: 3.5em;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 999;
}
.nav-menu {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-menu-img {
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.5em 0 1em;
}
.nav-link {
  font-family: "Poppins";
  font-weight: 300;
  text-decoration: none;
  color: white;
  margin: 0 1em 0 0;
}
#header-conteiner {
  position: relative;
  width: 100%;
  height: 65em;
  font-size: 1rem;
  padding-top: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#header-logo-conteiner {
  width: 30em;
  height: 13em;
  text-align: center;
}
#header-logo {
  width: 15em;
  height: 8em;
}
#logo-text {
  font-family: "Poppins";
  font-size: 1.4em;
}
.asegurar {
  color: #39c0e7;
}
#headerCeluChicos {
  width: 45em;
  height: 45em;
}
#redes {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  right: 0px;
  bottom: 3.5em;
  margin: 0 1em 1em 0;
}
.redes-imgs {
  width: 4em;
  height: 4em;
}
#section-conteiner {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
}
#section-div {
  width: 20em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*
  background-color: #000000;
  border-radius: 50%;*/
}
#boton-cotizar1{
  width: 20em;
  height: 20em;
}
/*
#section-div-text {
  font-family: "Poppins semibold";
  font-size: 2em;
  color: #f1f743;
  text-decoration: none;
}*/
#nosotros-conteiner {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8em 0 8em;
}
#nosotros {
  min-width: 40em;
  height: 100%;
}
#nosotros-img {
  width: 4em;
  height: 4em;
}
#nosotros-texth2 {
  font-family: "Poppins";
  margin-bottom: 0.2em;
}
#broker {
  color: #ea37ae;
}
#nosotros-texth6 {
  font-family: "Poppins";
  margin-bottom: 0.5em;
}
#nosotros-parraph {
  font-family: "Poppins";
}
.chica_nosotros-conteiner {
  width: 22em;
  height: 35em;
}
#chica_nosotros {
  width: 22em;
  height: 35em;
}
#franja-destacado-conteiner {
  width: 100%;
  height: 14em;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
}
.franja-destacado-div {
  display: flex;
  font-family: "Poppins";
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0 2em 0;
  text-align: center;
}
.franja-text {
  font-family: "Poppins";
  font-size: 1.5em;
  color: #ffff;
  margin-top: 0.7em;
}
.img-grande {
  width: 3em;
  height: 4.5em;
}
.img-chica {
  width: 5em;
  height: 4.5em;
}
#seguros-conteiner {
  width: 100%;
  height: auto;
  padding: 4em 0 4em 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#seguros-conteiner-img {
  width: 9em;
  height: 12em;
}
#seguros-parraph {
  font-family: "Poppins";
  font-size: 1.8em;
  text-align: center;
  margin: 2em 0 2em 0;
}
#iconos-seguro {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 2em;
  justify-content: center;
}
.iconos-seguros-img {
  width: 6em;
  height: 6em;
}
/*ICONOS SEGUROS*/
#moto{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-moto:hover #moto{
  visibility: visible;
}
#auto{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-auto:hover #auto{
  visibility: visible;
}
#bici{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-bici:hover #bici{
  visibility: visible;
}
#celular{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-celular:hover #celular{
  visibility: visible;
}
#corazon{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-corazon:hover #corazon{
  visibility: visible;
}
#casa{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-casa:hover #casa{
  visibility: visible;
}
#caucion{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-caucion:hover #caucion{
  visibility: visible;
}
#caucion-alquler{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-caucion-alquler:hover #caucion-alquler{
  visibility: visible;
}
#art{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-art:hover #art{
  visibility: visible;
}
#comercio{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-comercio:hover #comercio{
  visibility: visible;
}
#bolsoprote{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-bolsoprote:hover #bolsoprote{
  visibility: visible;
}
#embarcacion{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-embarcacion:hover #embarcacion{
  visibility: visible;
}
#accpersonales{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-accpersonales:hover #accpersonales{
  visibility: visible;
}
#aeronav{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-aeronav:hover #aeronav{
  visibility: visible;
}
#agro{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-agro:hover #agro{
  visibility: visible;
}
#respcivil{
  font-family: "Poppins";
  position: absolute;
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-respcivil:hover #respcivil{
  visibility: visible;
}
/*------------------------------*/
#cotiza100 {
  width: 100%;
  height: 35em;
  font-size: 1.2rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cotiza100-parraph {
  font-family: "Poppins";
  color: #ffff;
  font-size: 2em;
}
#asesoramos {
  color: #39c0e7;
}
#cotizar {
  width: 10em;
  height: 10em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
#boton-cotizar2{
  width: 10em;
  height: 10em;
}
/*
#cotizar-text {
  font-family: "Poppins";
  color: #000000;
  font-size: 1.3em;
  text-decoration: none;
}*/
#contacto-container {
  position: relative;
  width: 100%;
  height: 45em;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f0f0f0;
}
#column1 {
  width: 37em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6%;
}
#column1-div1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#doble-flecha {
  width: 5em;
  height: auto;
  margin-right: 2em;
}
#column1-text {
  font-family: "Poppins";
  font-size: 4em;
}
.contact-data {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 7em;
  margin-top: 2em;
}
.contact-data-img {
  width: 4em;
  height: 4em;
  margin-right: 1em;
}
.contact-data-text {
  font-family: "Poppins";
  font-size: 2em;
}
#foto-chicos {
  width: 48em;
  height: 38em;
}
#foto-chica {
  display: none;
  width: 52em;
  height: 41em;
}
#ngeLogoContacto {
  position: absolute;
  width: 9em;
  height: 5em;
  top: 0px;
  right: 0px;
  margin: 2em 2em 0 0;
  z-index: 998;
}
#logosEmpresas-conteiner{
  position: relative;
  width: 100%;
  height: auto;
  padding: 4em 0 2em 0;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15em;
  grid-row-gap: 5em;
  grid-column-gap: 2em;
}
#ellosNosEligieron{
  position: absolute;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}
#ellosNosEligieron h1{
  font-family: "Poppins";
}
.logo-nombre-empresas{
  text-align: center;
}
.nombre-logosEmpresas{
  font-family: "Poppins";
}
.img-logosEmpresas{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#footer-conteiner {
  width: 100%;
  height: auto;
  font-size: 1rem;
  display: flex;
}
#footerContent1 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
#footerContent2 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
.footer-divs {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2em 0;
}
#footer-img {
  width: 21em;
  height: 3em;
}
#footer-QR{
  width: 12em;
}
#asesorWSP{
  position: absolute;
  font-family: "Poppins";
  visibility: hidden;
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 20%;
}
#cont-asesorWSP:hover #asesorWSP{
  visibility: visible;
}
/*-----------------------RESPONSIVE-----------------------*/
@media (max-width: 1680px) {
  #header-conteiner {
    font-size: 1rem;
  }
  #nosotros-conteiner {
    font-size: 1.4rem;
  }
  #franja-destacado-conteiner {
    font-size: 1.2rem;
  }
  #seguros-conteiner {
    font-size: 1rem;
  }
  #cotiza100 {
    font-size: 1.2rem;
  }
  #contacto-container {
    font-size: 1rem;
  }
  #logosEmpresas-conteiner{
    font-size: 1.5em;
  }
  #footer-conteiner {
    font-size: 0.9rem;
  }
}
@media (max-width: 1440px) {
  #header-conteiner {
    font-size: 0.9rem;
  }
  #section-conteiner {
    font-size: 0.7rem;
  }
  #nosotros-conteiner {
    font-size: 1.27rem;
  }
  #franja-destacado-conteiner {
    font-size: 1.1rem;
  }
  #seguros-conteiner {
    font-size: 1rem;
  }
  #cotiza100 {
    font-size: 1.2rem;
  }
  #contacto-container {
    font-size: 0.86rem;
  }
  #footer-conteiner {
    font-size: 0.85rem;
  }
}
@media (max-width: 1280px) {
  #header-conteiner {
    font-size: 0.9rem;
  }
  #nosotros-conteiner {
    font-size: 0.9rem;
  }
  #franja-destacado-conteiner {
    font-size: 1rem;
  }
  #cotiza100 {
    font-size: 0.7rem;
  }
  #seguros-conteiner {
    font-size: 0.9rem;
  }
  #cotiza100 {
    font-size: 1rem;
  }
  #contacto-container {
    font-size: 0.65rem;
  }
  #logosEmpresas-conteiner{
    font-size: 1.2em;
  }
  #footer-conteiner {
    font-size: 0.8rem;
  }
}
@media (max-width: 960px) {
  #header-conteiner {
    font-size: 0.85rem;
  }
  #section-conteiner {
    font-size: 0.65rem;
  }
  #nosotros-conteiner {
    font-size: 0.75rem;
  }
  #seguros-conteiner {
    font-size: 0.7rem;
  }
  #franja-destacado-conteiner {
    font-size: 0.9rem;
  }
  #cotiza100 {
    font-size: 0.85rem;
  }
  #contacto-container {
    font-size: 0.5rem;
  }
  #footer-conteiner {
    font-size: 0.68rem;
  }
}
@media (max-width: 768px) {
  #nav-conteiner {
    font-size: 0.9rem;
  }
  #header-conteiner {
    font-size: 0.75rem;
  }
  #section-conteiner {
    font-size: 0.6rem;
  }
  #nosotros-conteiner {
    font-size: 0.55rem;
  }
  #nosotros{
    font-size: 1.2em;
    min-width: 35em;
  }
  #franja-destacado-conteiner {
    font-size: 0.7rem;
  }
  #seguros-conteiner {
    font-size: 0.5rem;
  }
  #cotiza100 {
    font-size: 0.7rem;
  }
  #contacto-container {
    font-size: 0.38rem;
  }
  #logosEmpresas-conteiner{
    font-size: .8em;
  }
  #footer-conteiner {
    font-size: 0.53rem;
  }
}
@media (max-width: 576px) {
  #nav-conteiner {
    font-size: 0.75rem;
  }
  #header-conteiner {
    font-size: 0.65rem;
  }
  #section-conteiner {
    font-size: 0.5rem;
  }
  #nosotros-conteiner {
    font-size: 0.5rem;
  }
  #nosotros{
    font-size: 1.2em;
    min-width: 30em;
  }
  #franja-destacado-conteiner {
    font-size: 0.5rem;
  }
  #seguros-conteiner {
    font-size: 0.4rem;
  }
  #cotiza100 {
    font-size: 0.6rem;
  }
  .cotiza100-parraph {
    font-size: 1.5em;
  }
  #contacto-container {
    font-size: 0.33rem;
  }
  #logosEmpresas-conteiner{
    font-size: .7em;
  }
  #footer-conteiner {
    font-size: 0.45rem;
  }
}
@media (max-width: 497px) {
  #nosotros-conteiner {
    font-size: 0.46rem;
  }
  #franja-destacado-conteiner {
    font-size: 0.4rem;
  }
  #seguros-conteiner {
    font-size: 0.4rem;
  }
  #cotiza100 {
    font-size: 0.6rem;
  }
  #contacto-container {
    font-size: 0.31rem;
  }
  #footer-conteiner {
    font-size: 0.42rem;
  }
}
@media only screen and (max-width: 480px) {
  #nav-conteiner {
    font-size: 0.6rem;
  }
  #header-conteiner {
    font-size: 0.56rem;
  }
  #section-conteiner {
    font-size: 0.45rem;
  }
  #nosotros-conteiner {
    font-size: .5rem;
    flex-direction: column;
    padding: 0 2em 0 2em;
  }
  #nosotros {
    min-width: auto;
    height: auto;
  }
  .chica_nosotros-conteiner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #franja-destacado-conteiner {
    font-size: 0.5rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #seguros-conteiner {
    font-size: 0.4rem;
  }
  #iconos-seguro {
    grid-template-columns: auto auto auto auto;
  }
  #cotiza100 {
    font-size: 0.6rem;
  }
  #contacto-container {
    font-size: 0.35rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
  }
  #column1 {
    margin-left: 0em;
  }
  #foto-chicos{
    padding-top: 2em;
  }
  /*
  #foto-chicos {
    display: none;
  }
  
  #foto-chica {
    display: block;
    height: 36em;
    width: 25em;
  }
  */
  #logosEmpresas-conteiner{
    font-size: .6em;
  }
  #footer-conteiner {
    font-size: 0.5rem;
  }
  .footer-divs {
    width: 21em;
  }
  #footerContent1 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1em;
  }
  #footerContent2 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1em;
  }
}
@media only screen and  (max-width: 414px) {
  #nav-conteiner {
    font-size: 0.58rem;
  }
  #header-conteiner {
    font-size: 0.5rem;
  }
  #section-conteiner {
    font-size: 0.4rem;
  }
  #nosotros-conteiner {
    font-size: 0.5rem;
  }
  #nosotros{
    font-size: 1.2em;
    min-width: auto;
  }
  
  #franja-destacado-conteiner {
    font-size: 0.5rem;
  }
  #seguros-conteiner {
    font-size: 0.4rem;
  }
  #cotiza100 {
    font-size: 0.5rem;
  }
  #contacto-container {
    font-size: 0.3rem;
  }
  #logosEmpresas-conteiner{
    font-size: .5em;
  }
  #footer-conteiner {
    font-size: 0.45rem;
  }
}
@media only screen and (max-width: 373px) {
  #nav-conteiner {
    font-size: 0.5rem;
  }
  #header-conteiner {
    font-size: 0.45rem;
  }
  #section-conteiner {
    font-size: 0.35rem;
  }
  #nosotros-conteiner {
    font-size: 0.5rem;
  }
  #franja-destacado-conteiner {
    font-size: 0.4rem;
  }
  #seguros-conteiner {
    font-size: 0.3rem;
  }
  #cotiza100 {
    font-size: 0.4rem;
  }
  #contacto-container {
    font-size: 0.25rem;
  }
  #footer-conteiner {
    font-size: 0.45rem;
  }
}
@media only screen and (max-width: 330px) {
  #nav-conteiner {
    font-size: 0.5rem;
  }
  #header-conteiner {
    font-size: 0.43rem;
  }
  #nosotros-conteiner {
    font-size: 0.45rem;
  }
  #section-conteiner {
    font-size: 0.3rem;
  }
  #seguros-conteiner {
    font-size: 0.3rem;
  }
  #cotiza100 {
    font-size: 0.4rem;
  }
  #contacto-container {
    font-size: 0.25rem;
  }
}
@media only screen and (max-width: 320px) {
  #footer-img {
    width: 18em;
  }
}
